[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
invoke = "*"
invocations = "*"
bump2version = "*"
pytest-mock = "*"
sphinxcontrib-programoutput = "*"
sphinx-autodoc-typehints = "*"
pytest-cov = "*"
coverage = "*"
pylint = "*"
rope = "*"
pre-commit = "*"
black = "==20.8b1"

[packages]
pyserial = "*"
timeout-decorator = "*"
click = "*"
pyyaml = "*"
pykiso = {editable = true,path = "."}
pylink-square = "*"
